body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.lineup {
  left: 50px !important;
  margin-top: 20px;
  margin-bottom: 50px;
  clear: both;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: all 2s ease-in-out;
}
.fruit {
  position:absolute;
  transition: all 2s ease-in-out;
  height: 100%;
  width: 100%;
}
.animal {
  position: absolute;
  transition: all 2s ease-in-out;
  height: 100%;
  width: 100%;
}

.people {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 2s ease-in-out;
}
.bear {
  background: url(img/bear.gif) no-repeat;
  background-size: 50% !important;
  width: 200px;
  height: 200px;
}
.tiger {
  background: url(img/tiger.gif) no-repeat;
}
.roar {
  background: url(img/ron.gif) no-repeat;
}
.giraffe {
  background: url(img/dancing_giraffes.gif) no-repeat;
}
.pickle {
  background: url(img/dancing_pickle.gif) no-repeat;
}
.banana {
  background: url(img/giphy.gif) no-repeat;
}
.taco {
  background: url(img/taco.gif) no-repeat;
}
.breaker {
  background: url(img/breaker.gif) no-repeat;
  background-size: 20%;

}
.elvis {
  background: url(img/elvis.gif) no-repeat;
}
.hula {
  background: url(img/hula.gif) no-repeat;
}
.spiderman {
  background: url(img/spiderman.gif) no-repeat;
}
.floor {
  background: url(img/floor.jpg) 100% no-repeat;
}
.space {
  background: url(img/space.jpg) 100% no-repeat;
}
.mordor {
  background: url(img/mordor.jpg) 100% no-repeat;
}
.beach {
  background: url(img/beach.jpg) 100% no-repeat;
}
.clouds {
  background: url(img/cloud.jpg) 100% no-repeat;
}





