body, html{
  /*height:100%;*/
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
}
.title{
  background-color: #777;
}

.lineup {
  left: 50px !important;
  margin-top: 20px;
  margin-bottom: 50px;
  clear: both;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: all 2s ease-in-out;
}
.fruit {
  position:absolute;
  transition: all 2s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.animal {
  position: absolute;
  transition: all 2s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.people {
  position: absolute;
  height: 50%;
  width: 25%;
  transition: all 2s ease-in-out;
  z-index: -5;
}
.bear {
  background: url(img/bear.gif) no-repeat;
  background-size: 50% !important;
  width: 200px;
  height: 200px;
}
.tiger {
  background: url(img/tiger.gif) no-repeat;
}
.roar {
  background: url(img/ron.gif) no-repeat;
}
.giraffe {
  background: url(img/dancing_giraffes.gif) no-repeat;
}
.pickle {
  background: url(img/dancing_pickle.gif) no-repeat;
}
.banana {
  background: url(img/giphy.gif) no-repeat;
}
.taco {
  background: url(img/taco.gif) no-repeat;
}
.breaker {
  background: url(img/breaker.gif) no-repeat;
  background-size: 120%;

}
.elvis {
  background: url(img/elvis.gif) no-repeat;
}
.hula {
  background: url(img/hula.gif) no-repeat;
}
.spiderman {
  background: url(img/spiderman.gif) no-repeat;
}
.floor {
  background: url(img/floor.jpg) 100% no-repeat;
}
.space {
  background: url(img/space.jpg) 100% no-repeat;
}
.mordor {
  background: url(img/mordor.jpg) 100% no-repeat;
}
.beach {
  background: url(img/beach.jpg) 100% no-repeat;
}

.backtofloor {
  display: none;
}

/* power on switch */

/**, *:after, *:before {
  box-sizing: border-box;
}*/

#switch {
   visibility:hidden;
  clip:rect(0 0 0 0);
  position: absolute;
  left: 9999px;
}

.switch {
  top: -10px;
  right: 40px;
  display: block;
  width: 130px;
  height: 60px;
  margin: 70px auto;
  position: absolute;
  background: #ced8da; /* Old browsers */
  background: -moz-linear-gradient(left,  #ced8da 0%, #d8e0e3 29%, #ccd4d7 34%, #d4dcdf 62%, #fff9f4 68%, #e1e9ec 74%, #b7bfc2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ced8da), color-stop(29%,#d8e0e3), color-stop(34%,#ccd4d7), color-stop(62%,#d4dcdf), color-stop(68%,#fff9f4), color-stop(74%,#e1e9ec), color-stop(100%,#b7bfc2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* IE10+ */
  background: linear-gradient(to right,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced8da', endColorstr='#b7bfc2',GradientType=1 ); /* IE6-9 */
  transition: all 0.2s ease-out;
  cursor: pointer;
  border-radius: 0.35em;
  box-shadow:
    0 0 1px 2px rgba(0,0,0,0.7),
    inset 0 2px 0 rgba(255,255,255,0.6),
    inset 0 -1px 0 1px rgba(0,0,0,0.3),
    0 8px 10px rgba(0,0,0,0.15);
}

.switch:before {
  display:block;
  position: absolute;
  left: -35px; right: -35px;
  top: -25px; bottom: -25px;
  z-index: -2;
  content: "";
  border-radius: 0.4em;
  background: #d5dde0;
  background: linear-gradient(#d7dfe2, #bcc7cd);
  box-shadow:
    inset 0 2px 0 rgba(255,255,255,0.6),
    inset 0 -1px 1px 1px rgba(0,0,0,0.3),
    0 0 8px 2px rgba(0,0,0,0.2),
    0 2px 4px 2px rgba(0,0,0,0.1);
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.switch:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #788b91;
  margin-top: -8px;
  z-index: -1;
  box-shadow:
    inset 0 -1px 8px rgba(0,0,0,0.7),
    inset 0 -2px 2px rgba(0,0,0,0.2),
    0 1px 0 white,
    0 -1px 0 rgba(0,0,0,0.5),
    -47px 32px 15px 13px rgba(0,0,0,0.25);
}

#switch:checked ~ .switch {
  background: #b7bfc2; /* Old browsers */
  background: -moz-linear-gradient(left, #b7bfc2 0%, #e1e9ec 26%, #fff9f4 32%, #d4dcdf 38%, #ccd4d7 66%, #d8e0e3 71%, #ced8da 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b7bfc2), color-stop(26%,#e1e9ec), color-stop(32%,#fff9f4), color-stop(38%,#d4dcdf), color-stop(66%,#ccd4d7), color-stop(71%,#d8e0e3), color-stop(100%,#ced8da)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* IE10+ */
  background: linear-gradient(to right, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bfc2', endColorstr='#ced8da',GradientType=1 ); /* IE6-9 */
}

#switch:checked ~ .switch:after {
  background: #b1ffff;
  box-shadow:
    inset 0 -1px 8px rgba(0,0,0,0.7),
    inset 0 -2px 2px rgba(0,0,0,0.2),
    0 1px 0 white,
    0 -1px 0 rgba(0,0,0,0.5),
    -110px 32px 15px 13px rgba(0,0,0,0.25);
}

a,button {
  position: relative;
  z-index: 1000000;
}

.spin {
  transform: rotate(360deg);
}
audio {
  float: right;
  padding-right: 20px;
}
